/* fonts */
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}

/* global css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main__container {
    background: #f3f4f5
}

.titl__txt {
    color: #2e384d;
    font-size: 2rem; 
    font-weight: 300;
    line-height: 1.2;
    font-family: Poppins-Regular;
}

.table__text {
    font-size: 0.8rem;
    cursor: pointer;
    color: #ff3a59;
    font-family: Poppins-Regular;
}

.table__text:hover {
    color: #ff3a59;
}

.thead__top {
    border: none;
    background: rgba(0, 0, 0, 0.05);
}

.hash__head__txt {
    font-weight: 400;
    font-family: Poppins-Regular;
}