/* font family */

@font-face {
    font-family: SF-UI-Text-Medium, sans-serif;
    src: url(../font/SF-UI-Text-Medium.ttf);
}

@font-face {
    font-family: segoeui-Regular, sans-serif;
    src: url(../font/segoeui.ttf);
}

@font-face {
    font-family: SF-UI-Text-Medium, sans-serif;
    src: url(../font/SF-UI-Text-Medium.ttf);
}

@font-face {
    font-family: segoeui-Bold, sans-serif;
    src: url(../font/segoeuib.ttf);
}

@font-face {
    font-family: segoeui-SemiBold, sans-serif;
    src: url(../font/seguisb.ttf);
}

@font-face {
    font-family: segoeui-Light, sans-serif;
    src: url(../font/segoeuil.ttf);
}


/* global css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat__dom {
    position: relative;
}

.rgt__notif__popup {
    right: 20px;
    top: 0px;
    float: right;
    position: absolute;
    background-color: #fff;
    width: 14.5833333333vw;
    height: 20.78125vw;
    z-index: 1;
    padding: 8px 10px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0px 2px 2px #00000029;
}

.notif__txt {
    font-size: 1.1979166666666vw;
    font-family: segoeui-Regular;
}